ENVIRONMENT=dev

DATABASE_URL=postgresql://postgres:<password>@<host>:<port>/<dbname>

CORS_ALLOWED_ORIGINS=http://localhost:3000,https://abc.com

JWT_SECRET=thisisverysecret
JWT_ACCESS_EXPIRES_MINS=15
JWT_REFRESH_EXPIRES_DAYS=7

ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
