PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DB_NAME=
PG_SSL_MODE=
PG_CONN_TIMEOUT=

ENVIRONMENT=

CORS_ALLOWED_ORIGINS=

JWT_SECRET=
JWT_ACCESS_EXPIRES=10m
JWT_REFRESH_EXPIRES=168h # 168 hours = 7 days

ADMIN_USERNAME=
ADMIN_PASSWORD=
